# 复制此文件为 .env 后再进行本地开发。
ENV=dev

DB_HOST=change
DB_PORT=change
DB_USERNAME=change
DB_PASSWORD=change
DB_NAME=change

REDIS_HOST=change
REDIS_PORT=change
REDIS_PASSWORD=change
REDIS_DATABASE=change

ALIYUN_OSS_ACCESS_KEY_ID=change
ALIYUN_OSS_ACCESS_KEY_SECRET=change
ALIYUN_OSS_BUCKET_NAME=change
ALIYUN_OSS_REGION=change
